.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .page-content-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 55px 30px;
    }
}